<!DOCTYPE html>
<html lang="en">
    <head>
        ${styleCSS}
    </head>
    <body>
        <table border="$conf.border" class="ticket_table">
            #if ($conf.logoEnabled)
                <tr>
                    <td colspan="5">
                        <div align="$conf.logoAlign">
                            <img src="$conf.logoIMG"/>
                        </div>
                    </td>
                </tr>
            #end
            <tr>
                <td colspan="5" class="headers">
                    ${conf.header}
                </td>
            </tr>
            #foreach($address in $conf.addresses)
                <tr>
                    <td colspan="5" class="center_text">
                        $address
                    </td>
                </tr>
            #end
            <tr>
                <td colspan="5" class="row_line"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table class="table_left">
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.terminalLabel}&nbsp;${juegamas.terminal}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.dateLabel}&nbsp;${juegamas.date}&nbsp;${juegamas.hour}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="row_line"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table class="table_left">
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.ticketNumberLabel}&nbsp;${juegamas.ticketNumber}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.serialLabel}&nbsp;${juegamas.serial}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.drawLabel}&nbsp;${juegamas.drawNumber}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.dateDrawLabel}&nbsp;${juegamas.dateDraw}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="left_text">${juegamas.hourDrawLabel}&nbsp;${juegamas.hourDraw}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="row_line"></td>
            </tr>
            <tr class="headers">
                #if( $juegamas.juegaMasPegaMasTicketDetailList.size() > 1 )
                    <td colspan="5">${juegamas.playsLabel}</td>
                #else
                    <td colspan="5">${juegamas.playLabel}</td>
                #end
            </tr>
            <tr>
                <td colspan="5" class="row_line"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table class="table_left headers">
                        <tr>
                            <td class="left_text">${juegamas.blueLabel}</td>
                            <td class="left_text">${juegamas.redLabel}</td>
                            <td class="left_text">${juegamas.extraLabel}</td>
                            <td></td>
                            <td class="right_text">${juegamas.amountLabel}&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="row_line"></td>
                        </tr>
                        #foreach($data in $juegamas.juegaMasPegaMasTicketDetailList)
                            <tr>
                                <td class="left_text">${data.blue}</td>
                                <td class="left_text">${data.red}</td>
                                <td class="left_text">${data.extra}</td>
                                <td></td>
                                <td class="right_text">${data.amount}&nbsp;&nbsp;</td>
                            </tr>
                        #end
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="row_line"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table class="table_left">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="size_number">${juegamas.totalLabel}</td>
                            <td class="size_number"> ${juegamas.getStringTotalSales()}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            #if ($conf.footerEnabled)
                <tr>
                    <td colspan="5" class="row_line"></td>
                </tr>
            #end
            #foreach(${footer} in ${conf.footers})
                <tr>
                    <td colspan="5" class="center_text">
                        ${footer}
                    </td>
                </tr>
            #end
        </table>
    </body>
</html>