<!DOCTYPE html>
<html lang="en">
    <head>
        ${styleCSS}
    </head>
    <body>
        <table border="$conf.border" class="ticket_table">
            #if ($conf.logoEnabled)
                <tr>
                    <td colspan="6">
                        <div align="$conf.logoAlign">
                            <img src="$conf.logoIMG"/>
                        </div>
                    </td>
                </tr>
            #end
            <tr>
                <td colspan="6" class="headers">
                    ${conf.header}
                </td>
            </tr>
            #foreach($address in $conf.addresses)
                <tr>
                    <td colspan="6" class="center_text">
                        $address
                    </td>
                </tr>
            #end
            #if(!${winnerNumbers.payment})
                <tr>
                    <td colspan="6" class="headers">
                        ${winnerNumbers.reportLabel}
                    </td>
                </tr>
            #else
                <tr>
                    <td colspan="6" class="headers">
                        ${winnerNumbers.ticketPaymentLabel}
                    </td>
                </tr>
            #end
            <tr>
                <td colspan="6" class="row_line"></td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <tr>
                            <td>${winnerNumbers.terminalLabel}
                                <span class="bold">${winnerNumbers.terminalSerial}</span></td>
                        </tr>
                        <tr>
                            <td>${winnerNumbers.userLabel} ${winnerNumbers.user}</td>
                        </tr>
                        <tr>
                            <td>${winnerNumbers.dateLabel} ${winnerNumbers.date} ${winnerNumbers.hour}</td>
                        </tr>
                        <tr>
                            <td>${winnerNumbers.FromLabel}&nbsp;${winnerNumbers.dateFrom}
                                &nbsp;${winnerNumbers.ToLabel} ${winnerNumbers.dateTo}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="6" class="row_line"></td>
            </tr>
            #if(!${winnerNumbers.payment})
                <tr>
                    <td colspan="6" class="wrap">
                        #foreach($dataLottery in $winnerNumbers.lotteriesLabels)
                            ${dataLottery} ,
                        #end ## End for
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="row_line"></td>
                </tr>
                <tr>
                    <td colspan="6" class="headers">${winnerNumbers.summaryLabel}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <table>
                            <tr>
                                <td class="left_text">${winnerNumbers.winnerPlayLabel}</td>
                                <td class="right_text">${winnerNumbers.playWinner}</td>
                            </tr>

                            <tr>
                                <td class="left_text">${winnerNumbers.winnerTicketLabel}
                                </td>
                                <td class="right_text">${winnerNumbers.ticketWinner}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.ticketSalesLabel}</td>
                                <td class="right_text">${winnerNumbers.ticketSales}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalSalesLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalSales()}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalCommissionsLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalCommissions()}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalPaymentsLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalPayment()}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalEarningsLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalEarnings()}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalReceiveLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalReceive()}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalRechargeLabel}</td>
                                <td class="right_text">${winnerNumbers.getStringTotalRecharge()}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="row_line"></td>
                </tr>
                <tr>
                    <td colspan="6" class="headers">${winnerNumbers.validLabel}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <table>
                            <tr>
                                <td class="table_desig left_text">${winnerNumbers.ticketLabel}
                                </td>
                                <td class="table_desig right_text">
                                    ${winnerNumbers.ticketSales}</td>
                                <td class="table_desig right_text">${winnerNumbers.getStringTotalSales()}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                #foreach($dataValue in $winnerNumbers.playList)
                    $winnerNumbers.sumPlayValidTicket($dataValue)
                    <tr>
                        <td colspan="6">
                            <table>
                                <tr>
                                    <td class="table_desig left_text">${dataValue}
                                    </td>
                                    <td class="table_desig right_text">${winnerNumbers.cantValid}</td>
                                    <td class="table_desig right_text">$winnerNumbers.getStringTotalAmountValid()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                #end
                #if ($winnerNumbers.equalDates)
                    #if ($winnerNumbers.winnerNumbersList.size() > 0)
                        <tr>
                            <td colspan="6" class="row_line"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="headers">${winnerNumbers.winnerNumber}</td>
                        </tr>
                        #foreach($dataLottery in $winnerNumbers.winnerNumbersList)
                            <tr>
                                <td colspan="6">
                                    <table>
                                        <tr>
                                            <td class="left_text">${dataLottery.lottery.name}
                                            </td>
                                            <td class="right_text">${dataLottery.numbers}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        #end ## End for
                    #end ## end if listWinner
                    #if ($winnerNumbers.winnerDetailsList.size() == 0)
                        <tr>
                            <td colspan="6" class="row_line"></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table>
                                    <tr>
                                        <td class="center_text">${winnerNumbers.thereAreNoWinnersLabel}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    #end ## if list equals 0
                #end ## end equalDates
                #if($winnerNumbers.winnerDetailsList.size() > 0)
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="center_text bold">${winnerNumbers.winnerTicketLabel}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table>
                                <tr>
                                    <td class="left_text">${winnerNumbers.ticketLabel}</td>
                                    <td class="left_text">${winnerNumbers.hourLabel}</td>
                                    <td class="right_text">${winnerNumbers.positionLabel}</td>
                                    <td class="right_text">${winnerNumbers.winLabel}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    #foreach($dataValue in $winnerNumbers.lotteries)
                        <tr>
                            <td colspan="6">$dataValue</td>
                        </tr>
                        #foreach($dataTicket in $winnerNumbers.winnerDetailsList)
                            #if ($dataTicket.lottery.name == $dataValue)
                                <tr>
                                    <td colspan="6">
                                        <table>
                                            <tr>
                                                <td width="36%" class="left_text">${dataTicket.ticketNumber}</td>
                                                <td width="17%" class="left_text">${dataTicket.hour}</td>
                                                <td width="10%" class="left_text">${dataTicket.position}</td>
                                                #if($winnerNumbers.isGreaterThanMillion(${dataTicket.amountWin}))
                                                    <td width="37%" class="right_text small_size">$winnerNumbers.getString(${dataTicket.amountWin})</td>
                                                #else
                                                    <td width="37%" class="right_text">$winnerNumbers.getString(${dataTicket.amountWin})</td>
                                                #end
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            #end ## IF validacion de lottery Label
                        #end ## FOR dataTicket
                    #end ## FOR Winners
                #end ## list size
            #end ## if del payment
            #if(${winnerNumbers.payment})
                <tr>
                    <td colspan="6" class="headers">${winnerNumbers.summaryLabel}</td>
                </tr>
                <tr>
                    <td colspan="6" class="wrap">
                        #foreach($dataLottery in $winnerNumbers.lotteriesLabels)
                            ${dataLottery} ,
                        #end ## End for
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="row_line"></td>
                </tr>
                #set($listPayment = $winnerNumbers.winnerDetailsListPayment)
                <tr>
                    <td colspan="6">
                        <table>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalTicketPaymentLabel}
                                </td>
                                <td class="right_text">${winnerNumbers.totalTicketPayment}</td>
                            </tr>
                            <tr>
                                <td class="left_text">${winnerNumbers.totalAmountPaymentLabel}
                                </td>
                                <td class="right_text">${winnerNumbers.getStringTotalWinnerPayment()}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                #if ($listPayment.size() == 0)
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table>
                                <tr>
                                    <td class="center_text">${winnerNumbers.thereAreNoPaymentLabel}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                #end ## if list equals 0
                #if($listPayment.size() > 0)
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table>
                                <tr>
                                    <td class="left_text">${winnerNumbers.ticketLabel}</td>
                                    <td class="right_text">${winnerNumbers.hourLabel}</td>
                                    <td class="right_text">${winnerNumbers.positionLabel}</td>
                                    <td class="right_text">${winnerNumbers.winLabel}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    #foreach($dataValue in $winnerNumbers.lotteries)
                        <tr>
                            <td colspan="6">$dataValue</td>
                        </tr>
                        #foreach($dataTicket in $listPayment)
                            #if ($dataTicket.lottery.name == $dataValue)
                                <tr>
                                    <td colspan="6">
                                        <table>
                                            <tr>
                                                <td width="36%" class="left_text">${dataTicket.ticketNumber}</td>
                                                <td width="13%" class="left_text">${dataTicket.hour}</td>
                                                <td width="15%" class="center_text small_size">${dataTicket.position}</td>
                                                #if($winnerNumbers.isGreaterThanMillion(${dataTicket.amountWin}))
                                                    <td width="30%" class="right_text small_size">$winnerNumbers.getString(${dataTicket.amountWin})</td>
                                                #else
                                                    <td width="30%" class="right_text">$winnerNumbers.getString(${dataTicket.amountWin})</td>
                                                #end
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            #end ## IF validacion de lottery Label
                        #end ## FOR dataTicket
                    #end ## FOR Winners
                #end ## list size
            #end ## if boolean payment
            #if ($winnerNumbers.ticketNulls.size() > 0)
        <tr>
            <td colspan="6" class="row_line"></td>
        </tr>
        <tr>
            <td colspan="6">
                <table border="$conf.border" class="table_no_white_space">
                    <tr>
                        <td colspan="6" class="center_text bold">${winnerNumbers.ticketNullsLabel}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr class="headers">
                        <td colspan="3" class="left_text">${winnerNumbers.ticketNumberLabel}</td>
                        <td colspan="3" class="left_text">${winnerNumbers.playAmountLabel}</td>
                    </tr>
                    <tr class="headers">
                        <td colspan="3" class="left_text">${winnerNumbers.hourCreateLabel}</td>
                        <td colspan="3" class="left_text">${winnerNumbers.hourRevokeLabel}</td>
                    </tr>
                            #foreach($ticketNull in $winnerNumbers.ticketNulls)
                                <tr>
                                    <td colspan="6" class="row_line"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="right_text">${ticketNull.ticketNumber}</td>
                                    <td colspan="3" class="right_text">${ticketNull.getStringTotal()}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="right_text">${ticketNull.hourCreate}</td>
                                    <td colspan="3" class="right_text">${ticketNull.hourRevoke}</td>
                                </tr>
                            #end
                    <tr>
                        <td colspan="6" class="row_line"></td>
                    </tr>
                    <tr>
                        <td>${winnerNumbers.cantTotalNullsLabel}</td>
                        <td class="center_text">${winnerNumbers.cantTotalNulls}</td>
                        <td>${winnerNumbers.getTotalAmountNullsLabel()}</td>
                        <td class="right_text">${winnerNumbers.getStringTotalNullsAmount()}</td>
                    </tr>
                </table>
            </td> 
        <tr>
            <td colspan="6" class="row_line"></td>
        </tr>
        </tr>
    #end
    <tr>
        <td colspan="6" class="row_line"></td>
    </tr>
            #if ($conf.footerEnabled)
                <tr>
                    <td colspan="6" class="row_line"></td>
                </tr>
            #end
        </table>
    </body>
</html>