* {
    font-family: "${css.fontCSS}";
    font-style: normal;
}

td {
    font-size: ${css.fontBase}px;
}

.table_desig {
    width: 30%;
}

.center_text {
    text-align: center;
    word-wrap: break-word;
}

.wrap {
    word-wrap: break-word;
}

.right_text {
    text-align: right;
}

.left_text {
    text-align: left;
}

.headers {
    text-align: center;
    font-size: ${css.headers}px;
    font-weight: bold;
}

.mini_small_size{
    font-size: 8px !important;
}
.small_size{
    font-size: 10px !important;
}

.med_size{
    font-size: 12px !important;
}

.large_size{
    font-size: 18px !important;
}

.bold {
     font-weight: bold;
}

.table_no_white_space {
    width: 100%;
}

.table_no_white_space tr td {
    width: auto;
}

/* para ver los espacios de los td */
/* table td{
    border: 1px solid #555;
    border-width: 1px 1px 0 0;
} */

.total_header {
    text-align: center;
    font-size: ${css.totalHeader}px;
    font-weight: bold;
}

.row_line {
    border-bottom: 1px solid black;
}

.size_number {
    font-size: ${css.numberSize}px;
}

.ticket_table {
    width: ${css.tableConf}px;
}

.table_conf {
    width: ${css.tableConf}px;
    table-layout: fixed;
}

.table_conf tr td {
    text-align: left;
}

.logo_img {
    height: ${css.logoIMG}px;
}
